apiVersion: v1
kind: Pod
metadata:
  name: libfranka-sim
  labels:
    app: libfranka-sim
spec:
  containers:
    - name: libfranka-sim
      image: ghcr.io/rr-aa-cl/libfranka-sim/f-sim:full
      imagePullPolicy: IfNotPresent #Always
      # command:
      #   - python
      #   - -m
      #   - franka_sim.run_server
      ports:
        - containerPort: 1337
      resources:
        limits:
          nvidia.com/gpu: "0"
---
apiVersion: v1
kind: Service
metadata:
  name: libfranka-sim
spec:
  type: NodePort
  selector:
    app: libfranka-sim
  ports:
    - name: fci
      protocol: TCP
      port: 1337
      targetPort: 1337

---
apiVersion: v1
kind: Pod
metadata:
  name: libfranka
  labels:
    app: libfranka
spec:
  containers:
    - name: libfranka
      image: ghcr.io/chipclee/libfranka:main
      imagePullPolicy: Always
      securityContext:
        capabilities:
          add:
            - SYS_NICE
        privileged: true
      command:
        - sleep
        - infinity
